<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'Accueil</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <img src="background-color" alt="">
    <header>
        <h1>Bienvenue sur notre application web</h1>
    </header>
    <nav>
        <ul>
            <li><a href="#">Accueil</a></li>
            <li><a href="#">À propos</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    <main>
        <section>
            <h2>Section principale</h2>
            <p>Voici le contenu de la page d'accueil.</p>
        </section>
    </main>
    <footer>
        <h1>
            <p>&copy; Dans le cadre du projet Marigo, nous développons une application web innovante destinée aux maraîchers : AgroOrganic. Cette plateforme est conçue pour simplifier l'approvisionnement en intrants organiques, en offrant un accès direct
                à des produits de qualité certifiée. Grâce à une interface intuitive et des fonctionnalités avancées comme la recherche personnalisée, les commandes en ligne et le suivi des livraisons, AgroOrganic vise à soutenir une agriculture plus
                durable et respectueuse de l'environnement. Rejoignez-nous dans cette initiative pour promouvoir des pratiques agricoles écologiques et efficaces.
        </h1>
        </p>
    </footer>
</body>

</html>