<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>carte</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Mr-KAM/x.css@main/x.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
	<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
	<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css'>

	<script src="https://www.w3schools.com/lib/w3.js"></script>
	<style>
		body,html{
			width: 100vw;
			height: 100vh;
			padding: 0%;
			margin: 0%;
			overflow: hidden;
		}
		#mapid{
			width: 100%;
			height: 100vh;
			margin: 0px;
			z-index: 1;
		}
		#form{
			z-index: 1000;
			position: absolute;
			width: 80vw;
			height: 90vh;
			margin-bottom: 5vh;
			margin-top: 5vh;
			margin-right: 10vw;
			margin-left: 10vw;
			padding-right: 5%;
			padding-left: 5%;
			padding-top: 5%;
			padding-bottom: 5%;
			display: none;
		}
		#bar{
			z-index: 1001;
		}
		.popup-table {
  	width: 100%;
	}

	.popup-table-row {
  background-color: grey;
		}
		.button{
			border: none;
		}

		.user-button{
			position: fixed;
			top: 0;
			left:82%;
			z-index: 1001;
			border: none;
		}
	</style>
</head>
<body>

<form  id="alerte_form"  action="http://127.0.0.1:5000/map"  method="POST" enctype = "multipart/form-data">


<div id="form" class="white carte rond-xlarge">
	<div class="field">
  <label class="label small">{{ current_user.nomprenom }}</label>
  <label class="label" for="id_alerte_title" >Titre</label>
  <div class="control">
    <input class="input" type="text" placeholder="Titre de l'alerte" name="alerte_titre" id='id_alerte_titre'>
  </div>
</div>
<div class="field ">
  <label class="label">Type d'alerte</label>
  <div class="control">
    <div class="select is-fullwidth" name="type_alerte" id="id_type_alerte">
      <select>
        <option class="white carte" value="gazon">Gazon pas coupé</option>
        <option class="white carte" value="feux">Feux de residence</option>
        <option class="white carte" value="Coupure">Coupure d'electricité</option>
        <option class="white carte" value="Serpent">Serpent et scorpion</option>
        <option class="white carte" value="Objet_perdu">Objet perdu</option>
        <option class="white carte" valeur="Objet_retrouve">Objet retrouvé</option>
        <!-- <option>Badge perdu</option> -->
      </select>
    </div>
  </div>
</div>

<div class="file has-name is-fullwidth">
	<label class="file-label">
	  <input class="file-input" type="file" name="picture" id="id_picture">
	  <span class="file-cta">
		<span class="file-icon">
		  <i class="fas fa-upload"></i>
		</span>
		<span class="file-label">
		  charger une image
		</span>
	  </span>
	  <span class="file-name" name="picture_title" id="id_picture_title">
		Screen Shot 2017-07-29 at 15.54.25.png
	  </span>
	</label>
  </div>
  <div class="field">
	<label class="label">Votre contact</label>
	<div class="control">
	  <input class="input" type="text" name='alerte_contact', id="id_alerte_contact" placeholder="e.g +225 01010102">
	</div>
  </div>
<div class="field">
  <label class="label" for="id_description">Description</label>
  <div class="control">
    <textarea class="textarea" placeholder="Saisir une description" name="alerte_message" id="id_alerte_message"></textarea>
  </div>
</div>
<div class="field">
  <div class="control">
    <label class="checkbox">
      <input type="checkbox" id="id_contrat" name="contrat">
      Je suis conscient que celà alertera les autorités <a href="#">compétante !</a>
    </label>
  </div>
</div>

<div class="field is-grouped">
  <div class="control">
    <button class="button is-link" type="submit" id="id_btn_submit" onclick="w3.hide('#form')">Soumettre</button>
  </div>
  <div class="control">
    <button class="button is-link is-light" onclick="w3.hide('#form')">Annuler</button>
  </div>
</div>
</div>
</form>
<div class="dropdown-click user-button right">
    <button onclick="myFunction()" class="transparent user-button" >
    	<span><img src="..\static\logo.png" alt="" style="width: 40px; height:40px" class="cercle margin"></span></button>
    <div id="Demo" class="dropdown-content bar-block border" style="right:0">
      <a href="{{ url_for('profile')}}" class="bar-item button">Voir profil</a>
      <a href="{{ url_for('task')}}" class="bar-item button">Infos</a>
      <a href="{{ url_for('logout')}}" class="bar-item button"> Déconnecter</a>
    </div>
  </div>



<div class="bottom white carte center rond-xxlarge" style="width:100vw; height:75px ;margin-bottom:-20px; padding-top:5px" id="bar">
  <a href="{{ url_for('map')}}" class="bar-item button xlarge txt-green"><i class="fi fi-ss-marker"></i></a>
  <a href="{{ url_for('list')}}" class="bar-item button xlarge"><i class="fi fi-rr-search"></i></a>
  <a href="{{ url_for('task')}}" class="w3-bar-item button xlarge"><i class="fi fi-rr-list-check"></i></a>
  <a href="{{ url_for('profile')}}" class="bar-item button xlarge"><i class="fi fi-rr-user"></i></a>
</div>

<div id="mapid" style="margin-bottom:60px"></div>


<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css" integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js" integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg=" crossorigin=""></script>

<script src="{{ url_for('static', filename='app.js') }}"></script>

<script>
	function formSubmit(event){
		var form = event.target;
        form.submit();
		console.log("logog" + form.value);
		event.preventDefault();
	}
	const form = document.getElementById('alerte_form');
	const titre = document.getElementById('id_alerte_titre');
	const message = document.getElementById('id_alerte_message');
	const type_alerte = document.getElementById('id_type_alerte');
	const picture = document.getElementById('id_picture');

	form.addEventListener('submit', formSubmit);

</script>
</body>
</html>