<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>carte</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Mr-KAM/x.css@main/x.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
	<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
	<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css'>

	<script src="https://www.w3schools.com/lib/w3.js"></script>
	<style>
		body,html{
			width: 100vw;
			height: 100vh;
			padding: 0%;
			margin: 0%;
			overflow: hidden;
		}
		#profile{
			width: 100%;
			height: 100vh;
			margin-bottom: 60px;
			z-index: 1;
		}

		#bar{
			z-index: 1001;
		}
		.popup-table {
  	width: 100%;
	}

	.popup-table-row {
  background-color: grey;
		}
		.button{
			border: none;
		}
	</style>
</head>
<body>


<div class="bottom white carte center rond-xxlarge" style="width:100vw; height:75px ;margin-bottom:-20px; padding-top:5px" id="bar">
  <a href="{{ url_for('map')}}" class="bar-item button xlarge"><i class="fi fi-rr-marker"></i></a>
  <a href="{{ url_for('list')}}" class="bar-item button xlarge"><i class="fi fi-rr-search"></i></a>
  <a href="{{ url_for('task')}}" class="w3-bar-item button xlarge "><i class="fi fi-rr-list-check"></i></a>
  <a href="{{ url_for('profile')}}" class="bar-item button xlarge txt-green"><i class="fi fi-ss-user"></i></a>
</div>

<div id="profile title is-3" style="margin-bottom:60px">Bienvenue {{ current_user.nomprenom }}</div>
<div id="profile title is-3" style="margin-bottom:60px">Vous êtes un {{ current_user.fonction }}</div>
<div id="profile title is-3" style="margin-bottom:60px">Vous possédez des autorisations de {{ current_user.autorisation }}</div>
<!-- <div id="profile title is-3" style="margin-bottom:60px">Vous pouvez donc assigner des taches aux personnelles du services {{ current_user.service }}</div> -->


<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css" integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js" integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg=" crossorigin=""></script>

<script src=""></script>
</body>
</html>