<!DOCTYPE html>
<html>

<head>
    <title>Optimisation</title>
</head>

<body>
    <form method="POST">
        <input type="checkbox" name="choix[]" value="maraîchage"> Maraîchage<br>
        <input type="checkbox" name="choix[]" value="agr_vivrière"> Agriculture maraîchère<br>
        <input type="checkbox" name="choix[]" value="elevage">Elevage <br>
        <input type="submit" value="Optimiser" href=" {{url_for('resultat')}}">
        <!-- <h6 class="w7-padding-center w7-margin-rigth"><b><a class="is-primary" href = "{{url_for('resultat') }}">Optimiser</a></b></h6> -->
    </form>
</body>
</html